* {
  box-sizing: border-box;
}

:root {

  --sweet-pink: #fb9898;
  --sweet-corn: rgb(253,234,128);
  --burnt-sienna: #e7905a;
  --coral-reef: #c7b99e;

}

body {
  margin: 7.5%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: url(/assets/images/bg_plates.jpg);
  color: var(--sweet-corn);
}

#main-wrapper {
  margin: 20px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  color: var(--coral-reef);
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  background: var(--sweet-corn);
  border-radius: 34px 34px 0 0;
}

nav a {
  padding: 20px;
  font-size: 20px;
  color: black;
}

nav a:hover {
  background-color: var(--coral-reef);
  padding: 20px;

}

h1 {
  color: var(--sweet-pink);
  font-size: 45px;
}

header h2 {
  color: var(--coral-reef);
  font-size: 30px;
  font-style: italic;
}

h2 {
  color: var(--sweet-pink);
  text-shadow: 2px black;
  font-size: 40px;
}

/* MAIN */

main {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0 0 34px 34px;
}

main h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-left: 1em;
}

.description p {
  color: var(--coral-reef);
  font-size: larger;
}

#p1 {
  margin-left: 2em;

}

#p2 {
  margin-left: 1.5em;
  margin-right: 4em;

}

#about .description {
  margin-left: 5em;
  display: flex;
}

.description img {
  border-radius: 5px;

}

/* PORTFOLIO */

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  margin: 0 5em;

}

.portfolio-items figcaption {
  background: var(--sweet-corn);
  color: black;
  font-style: italic;
  padding: 5px;
}

.portfolio-items img {
  object-fit: cover ;
  object-position: top;
  width: 100%;
  max-height: 250px;
  border-radius: 2px;

}

.portfolio-items figure {
  width: 40%;
}

/* targets only first child item */
.portfolio-items > figure:first-child {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 100%;
  order: -1;
}

/* targets only first child's item picture*/
.portfolio-items > figure:first-child img {
  max-height: 100%;
  height: auto;
  width: 100%;
}

/* makes a border appear around image when hovering over it */
.portfolio-items img:hover {
  border: 5px solid var(--sweet-corn);
}

/* CONTACT */

#contact {
  height: auto;
  padding-bottom: 5em;
}

#items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 5em;
  font-size: larger;
}


/* MEDIA QUERIES */


@media screen and (max-width: 850px) {

  #about .description {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  #p1, #p2 {
    margin: 0;
    padding-right: 0;
  }

  #items {
    flex-direction: column;
    align-items: flex-start;
  }

  #items a {
    border: 1px solid var(--sweet-pink);
    padding: 3px 5px;
    margin-bottom: 15px;
  }

}

 @media screen and (max-width: 670px) {

  body {
    margin: 2%;
  }
  
/* makes the links in navigation not visible on small screens */
  nav a {
    display: none;
  }

  .description {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .description p {
    margin-right: 3px ;
  }
  
  .portfolio-items {
    flex-wrap:wrap;
    flex-flow: column;
    align-items: center;
  }

  .portfolio-items figure {
    width: 70vw;
  }
  
  #items {
    justify-content: space-between;
    margin: 3em;
  }

 }

