* {
  box-sizing: border-box;
}

:root {

  --sweet-pink: #fb9898;
  --sweet-corn: rgb(253,234,128);
  --burnt-sienna: #e7905a;
  --coral-reef: #c7b99e;

}

body {
  margin: 7.5%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: url(/assets/images/bg_plates.jpg);
  color: var(--sweet-corn);
}

#main-wrapper {
  margin: 20px;
  padding-bottom: 100px;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 3%;
  background: var(--sweet-corn);
  border-radius: 34px 34px 0 0;
}

nav a {
  padding: 0px 60px;
  font-size: 20px;
  color: black;
}


h1 {
  color: var(--sweet-pink);
  font-size: 80px;
}

header h2 {
  color: var(--coral-reef);
  font-size: 40px;
  font-style: italic;
}

h2 {

  color: var(--sweet-pink);
  text-shadow: 2px black;
  font-size: 50px;
}


main h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-left: 1em;
}

.description p {
  
  color: var(--coral-reef);
  font-size: larger;
}

#p1 {
  margin-left: 2em;

}

#p2 {
  margin-left: 1.5em;
  margin-right: 4em;

}

a {

  text-decoration: none;
  color: var(--coral-reef);
}

main {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0 0 34px 34px;
  
}
#about .description {
  margin-left: 5em;
  display: flex;
}

.portfolio-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 5em;
  /* border: 1px dashed grey; */
}

.portfolio-items figcaption {
  background: var(--sweet-corn);
  color: black;
  font-style: italic;
  padding: 5px;
  /* border-radius: 34px 3px; */

}

.portfolio-items img {
  object-fit: cover ;
  object-position: top;
  width: 100%;
  max-height: 250px;
  /* border-radius: 3px 34px; */
}

.portfolio-items figure {
  width: 40%;
}

.portfolio-items > figure:first-child {

  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 100%;
  order: -1;
}

.portfolio-items > figure:first-child img {
  max-height: 100%;
  height: auto;
  width: 100%;
/* 
  order: -1;
  flex: 1 0 100%;
  width: 100%; */
}

#contact {

  height: auto;
  padding-bottom: 5em;
}


#contact ul {
  margin-left: 5em;
  font-size: larger;
}